.navbar{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);
}
.newScrollbar{
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);
    background-color: var(--main--color);
}
.left-side{
    display: flex;
    align-items: center;
}
.left-side img{
    display: flex;
    height: 60px;
}
.left-side span{
    margin-left: 20px;
}
.right-side{
    display: flex;
    align-items: center;
}
.right-side .icons{
    margin: 0 10px;
}
.right-side img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    object-fit: cover;
}
.drop-down{
    padding: 10px;
    margin-right:80px;
}
.drop-down .options{
    display: none;
    border-radius: 6px;
    background-color: var(--main--color);
    cursor: pointer;
    
  
}
.drop-down .options span{
    padding: 10px;
}
.drop-down:hover .options {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background-color: var(--main--color);
    cursor: pointer;
    position: absolute;
    padding: 10px;
}